@import "variable.styl"

body, html
  line-height 1
  font-family 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select none
  -webkit-tap-highlight-color: transparent
  background $color-background
  color $color-text

body .layui-m-layer .layui-m-layer-msg
  bottom 50% !important;


.clearfix
  display inline-block
  &:after
    display block
    content ' '
    height 0
    line-height 0
    clear both
    visibility hidden

@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5)
  .border-1px
    &::after
      -webkit-transform scaleY(0.7)
      -moz-transform scaleY(0.7)
      -ms-transform scaleY(0.7)
      -o-transform scaleY(0.7)
      transform scaleY(0.7)
  .border-r
    &::after
      -webkit-transform scaleX(0.7)
      -moz-transform scaleX(0.7)
      -ms-transform scaleX(0.7)
      -o-transform scaleX(0.7)
      transform scaleX(0.7)
  .border-t
    &::before
      -webkit-transform scaleY(0.7)
      -moz-transform scaleY(0.7)
      -ms-transform scaleY(0.7)
      -o-transform scaleY(0.7)
      transform scaleY(0.7)
  .border
    &::after
      -webkit-transform scale(0.7, 0.7)
      -moz-transform scale(0.7, 0.7)
      -ms-transform scale(0.7, 0.7)
      -o-transform scale(0.7, 0.7)
      transform scale(0.7, 0.7)

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
  .border-1px
    &::after
      -webkit-transform scaleY(0.5)
      -moz-transform scaleY(0.5)
      -ms-transform scaleY(0.5)
      -o-transform scaleY(0.5)
      transform scaleY(0.5)
  .border-r
    &::after
      -webkit-transform scaleX(0.5)
      -moz-transform scaleX(0.5)
      -ms-transform scaleX(0.5)
      -o-transform scaleX(0.5)
      transform scaleX(0.5)
  .border-t
    &::before
      -webkit-transform scaleY(0.5)
      -moz-transform scaleY(0.5)
      -ms-transform scaleY(0.5)
      -o-transform scaleY(0.5)
      transform scaleY(0.5)
  .border
    &::after
      -webkit-transform scale(0.5, 0.5)
      -moz-transform scale(0.5, 0.5)
      -ms-transform scale(0.5, 0.5)
      -o-transform scale(0.5, 0.5)
      transform scale(0.5, 0.5)
input
  border none
  outline none

//	去掉iPhone、iPad的默认按钮样式
input[type="button"], input[type="submit"], input[type="reset"]
	appearance none	/* 所有主流浏览器都不支持 appearance 属性 */
	-moz-appearance none	/* Firefox 支持替代的 -moz-appearance 属性 */
	-webkit-appearance none /* Safari 和 Chrome 支持替代的 -webkit-appearance 属性 */

input[type="text"],input[type="password"]
	-webkit-border-radius 0px	/* 去掉 input[type="text"] 等等默认 border-radius 圆角 */

textarea
	-webkit-appearance none
