border-1px($color)
  position relative
  &::after
    display block
    position absolute
    left 0
    bottom 0
    width 100%
    border-top 1px solid $color
    content ' '

border-t($color)
  position relative
  &::before
    display block
    position absolute
    left 0
    top 0
    width 100%
    border-top 1px solid $color
    content ' '

border-r($color)
  position relative
  &::after
    display block
    position absolute
    right 0
    top 0
    height 100%
    border-right 1px solid $color
    content ' '

border-all($color)
  position relative
  &::after
    display block
    position absolute
    content ' '
    left 0
    top 0
    width 200%
    height 200%
    border 1px solid $color
    -webkit-transform-origin 0 0
    -moz-transform-origin 0 0
    -ms-transform-origin 0 0
    -o-transform-origin 0 0
    transform-origin 0 0
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box

border-none()
  &::after
    display none

// 不换行
no-wrap()
  text-overflow ellipsis
  overflow hidden
  white-space nowrap

// 扩展点击区域
extend-click()
  position relative
  &::before
    content ''
    position absolute
    top -10px
    left -10px
    right -10px
    bottom -10px
