@import './reset.styl'
@import './base.styl'
@import './minix.styl'
@import './layout.styl'

.base-info-wrapper
  flex()
  margin-top 0.4rem
  padding .453333rem 0 .453333rem 0.4rem
  width 100%
  height 2.8rem
  box-sizing border-box
  background #fff
  .image-wrapper
    flex 0 0 1.893333rem
    margin-right 0.4rem
    height 1.8933rem
    width 1.8933rem
    img
      width 100%
      height 100%
  .base-info
    flex()
    flex-direction column
    line-height 0.5333rem
    font-size .373333rem
    color #000
    &>div
      flex 1
      color #000
      opacity 0.4
    .user-number
      font-size 0.48rem
      opacity .8
.info-wrapper
    margin-top 0.4rem
    padding .453333rem 0 .453333rem 0.4rem
    width 100%
    box-sizing border-box
    background #fff
    li
      flex()
      font-size .426667rem
      &>span
        line-height 1rem
      &>span:first-child
        flex 0 0 40%
        width 40%
        color: #000
      &>span:last-child
        flex 1
        color #000
        opacity 0.4
        .goRealName
          margin-left 0.4rem
          color #6EA6E8
.already-order-wrapper
  margin-top .4rem
  padding .4rem
  box-sizing border-box
  background-color #fff
  .title
    margin-bottom 0.2667rem
    font-size 0.4267rem
    color #000
    opacity .8
  .order-detail
    margin-bottom 0.2667rem
    padding .4rem
    width 100%
    box-sizing border-box
    background-color #F5F5F5
    color #000
    .title
      float left
      margin-bottom 0.5rem
      text-align center
      width 33.33%
      font-size 0.32rem
      opacity .4
    .ctx
      float left
      text-align center
      width 33.33%
      font-size 0.3733rem
      opacity .8
.nav
  margin-top 0.4rem
  padding 0 0.4rem
  background-color #fff
  .nav-item
    display inline-block
    width 100%
    height 0.9333rem
    border-1px(rgba(151,151,151,0.10))
    &>span
      line-height 0.9333rem
      font-size 0.3733rem
      color #000
      opacity .8
    .title
      float left
    .arrow
      float right
.mask
  position fixed
  left 0
  top 0
  right 0
  bottom 0
  width 100vw
  height 100vh
  background rgba(255,255,255,1)
  .loading
    position absolute
    left 50%
    top 50%
    transform translate3d(-50%, -50%, 0)
