@import './reset.styl'
@import './base.styl'
.content-wrapper
  .title
    margin .4rem 0 .2rem .4rem
    font-size .373333rem
    color #000
    opacity 0.8
  form
    text-align center
    .card-number
      text-indent 0.4rem
      width 100%
      height 1.6rem
      font-size .533333rem
      color #ccc
    .submit-btn
      margin-top 0.2rem
      width 9.2rem
      height 1.333333rem
      border-radius 4px
      background #F5A623
      font-size .48rem
      color #fff
  .tip
    margin-top 0.6933rem
    padding 0 .4rem
    line-height 0.5333rem
    font-size 0.3733rem
    color #000
    opacity 0.8

