<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content="yes" name="app-moblie-web-app-capable">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <!-- 设置不走缓存 -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>常见问题</title>
  <script src="../static/js/amfe-flexibl.js"></script>
  <link rel="stylesheet" href="../static/css/detail.css">
</head>

<body>
  <div class="content-wrapper">
    <ul class="detail-wrapper">
     <!-- 填坑 -->
    </ul>
    <input type="button" value="返回" class="back-button">
  </div>
  <script type="text/html" id="detail">
    <li>
      <span>订单编号：</span>
      <span>{{orderNo}}</span>
    </li>
    <li>
      <span>产品名称：</span>
      <span>{{productName}}</span>
    </li>
    <li>
      <span>支付金额：</span>
      <span>{{realCost}}</span>
    </li>
    <li>
      <span>支付方式：</span>
      <span>{{payType}}</span>
    </li>
    <li>
      <span>充值时间：</span>
      <span>{{createTime}}</span>
    </li>
    <li>
      <span>充值状态：</span>
      <span>{{recharge}}</span>
    </li>
  </script>
  @@include('script.html')
  <script src="../static/js/template-web.js"></script>
  <script src="../static/js/detail.js"></script>
</body>

</html>
