<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content="yes" name="app-moblie-web-app-capable">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <!-- 设置不走缓存 -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>流量查询结果</title>
  <script src="../static/js/amfe-flexibl.js"></script>
  <link rel="stylesheet" href="../static/css/queryResult.css">
</head>

<body>
  <div class="content-wrapper">
    <div class="base-info-wrapper">
      <div class="image-wrapper">
        <img src="../static/images/yd.png" alt="">
      </div>
      <div class="base-info">
        <div class="user-number"></div>
        <div class="iccid-number">ICCID：</div>
        <div class="meal">基础套餐：</div>
      </div>
    </div>
    <ul class="info-wrapper">
      <li>
        <span>卡片状态：</span>
        <span></span>
      </li>
      <li>
        <span>流量功能状态：</span>
        <span></span>
      </li>
      <li>
        <span>语音功能状态：</span>
        <span></span>
      </li>
      <li>
        <span>短信功能状态：</span>
        <span></span>
      </li>
      <li>
        <span>服务期止：</span>
        <span></span>
      </li>
      <li>
        <span>剩余：</span>
        <span></span>
      </li>
      <li>
        <span>总流量：</span>
        <span></span>
      </li>
      <li>
        <span>使用量：</span>
        <span></span>
      </li>
      <li>
        <span>实名认证：</span>
        <span></span>
      </li>
    </ul>
    <!-- <div class="already-order-wrapper">
      <h1 class="title">已订购未启用流量包</h1>
      <dl class="order-detail clearfix">
        <dt class="title">流量包型</dt>
        <dt class="title">有效期</dt>
        <dt class="title">生效时间</dt>
        <dd class="ctx">500M</dd>
        <dd class="ctx">12个自然月</dd>
        <dd class="ctx">次月生效</dd>
      </dl>
      <dl class="order-detail clearfix">
        <dt class="title">流量包型</dt>
        <dt class="title">有效期</dt>
        <dt class="title">生效时间</dt>
        <dd class="ctx">500M</dd>
        <dd class="ctx">12个自然月</dd>
        <dd class="ctx">次月生效</dd>
      </dl>
      <dl class="order-detail clearfix">
        <dt class="title">流量包型</dt>
        <dt class="title">有效期</dt>
        <dt class="title">生效时间</dt>
        <dd class="ctx">500M</dd>
        <dd class="ctx">12个自然月</dd>
        <dd class="ctx">次月生效</dd>
      </dl>
    </div> -->
    <ul class="nav">
      <li class="nav-item">
        <span class="title">本月使用明细</span>
        <span class="arrow">&gt;</span>
      </li>
      <li class="nav-item">
        <span class="title">充值流量套餐</span>
        <span class="arrow">&gt;</span>
      </li>
      <li class="nav-item">
        <span class="title">历史充值记录</span>
        <span class="arrow">&gt;</span>
      </li>
      <li class="nav-item">
        <span class="title">常见问题列表</span>
        <span class="arrow">&gt;</span>
      </li>
    </ul>
    <div class="mask">
      <img src="../static/images/loading.gif" alt="" class="loading">
    </div>
  </div>
  <script type="text/html" id="base-info">
    <div class="image-wrapper">
      {{if yysType === 'cmcc'}}
      <img src="../static/images/yd.png" alt=""> {{else if yysType === 'cucc'}}
      <img src="../static/images/lt.png" alt=""> {{else}}
      <img src="../static/images/dx.png" alt=""> {{/if}}
    </div>
    <div class="base-info">
      <div class="user-number">{{msisdn}}</div>
      <div class="iccid-number">ICCID：{{iccid}}</div>
      <div class="meal">基础套餐：{{pkgbase}}</div>
    </div>
  </script>
  <script type="text/html" id="info-wrapper">
    <li>
      <span>卡片状态：</span>
      <span>{{cardStatus === 0? '在用' : cardStatus === 1? '停机' : cardStatus === 2? '待激活' : cardStatus === 3? '销户' : '未知'}}</span>
    </li>
    <li>
      <span>流量功能状态：</span>
      <span>{{gprsStatus === 1? '开通' : '未开通'}}</span>
    </li>
    <li>
      <span>语音功能状态：</span>
      <span>{{voiceStatus === 1? '开通' : '未开通'}}</span>
    </li>
    <li>
      <span>短信功能状态：</span>
      <span>{{smsStatus === 1? '开通' : '未开通'}}</span>
    </li>
    <li>
      <span>服务期止：</span>
      <span>{{peridService == null? '' : peridService}}</span>
    </li>
    <li>
      <span>剩余：</span>
      <span>{{leftFlow | packageSize}}</span>
    </li>
    <li>
      <span>总流量：</span>
      <span>{{totalFlow | packageSize}}</span>
    </li>
    <li>
      <span>使用量：</span>
      <span>{{usedFlow | packageSize}}</span>
    </li>
    <li>
      <span>实名认证：</span>
      {{if isCertificate === 2}}
      <span>认证失败
        <a href="./realNameValidation.html" class="goRealName">去实名 &gt;</a>
      </span>
      {{else if isCertificate === 3}}
      <span>未实名
        <a href="./realNameValidation.html" class="goRealName">去实名 &gt;</a>
      </span>
      {{else}}
      <span>{{isCertificate === 0 ? '已实名' : '审核中'}}</span>
      {{/if}}
    </li>
  </script>
  @@include('script.html')
  <script src="../static/js/template-web.js"></script>
  <script src="../static/js/queryResult.js"></script>
</body>

</html>
