<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content="yes" name="app-moblie-web-app-capable">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <!-- 设置不走缓存 -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>流量充值</title>
  <script src="../static/js/amfe-flexibl.js"></script>
  <link rel="stylesheet" href="../static/css/rechargeImmediately.css">
</head>

<body>
  <div class="content-wrapper">
    <div class="user-info-wrapper">
      <div class="user-number">用户号码：</div>
      <div class="yys">中国移动</div>
    </div>
    <ul class="nav border-1px">
      <!-- 填坑 -->
    </ul>
    <ul class="meal-wrapper">
      <!-- 填坑 -->
    </ul>
    <div class="effect-time">
      <span class="effect">生效时间</span>
      <span class="time">及时生效 &gt;</span>
    </div>
    <ul class="choice-wrapper border-1px">
      <li>您已选择：</li>
      <li>有效期：</li>
      <li>应付金额：</li>
    </ul>
    <div class="order-detail">订单详情</div>
    <input type="button" value="立即充值" class="recharge-button">
    <div class="mask">
      <img src="../static/images/loading.gif" alt="" class="loading">
    </div>
  </div>
  <script type="text/html" id="packges">
    {{each pakeages p k}}
      {{if k === 'monthPackges'}}
        {{if p.length === 0}}
        {{else}}
          <li class="meal">
            <ul class="month">
              {{each p v i}}
                {{if i===0}}
                  <li class="meal-item border" data-size="{{v.pkgSize | packageSize}}" data-price="{{v.pkgPrice}}" data-validity="{{v.pkgCode | validityPeriod}}" data-prod="{{v.pkgId}}">
                    <p class="package-size">{{v.pkgSize | packageSize}}</p>
                    <p class="price">￥{{v.pkgPrice | splitMoney}}</p>
                  </li>
                {{else}}
                  <li class="meal-item border" data-size="{{v.pkgSize | packageSize}}" data-price="{{v.pkgPrice}}" data-validity="{{v.pkgCode | validityPeriod}}" data-prod="{{v.pkgId}}">
                    <p class="package-size">{{v.pkgSize | packageSize}}</p>
                    <p class="price">￥{{v.pkgPrice | splitMoney}}</p>
                  </li>
                {{/if}}
              {{/each}}
            </ul>
          </li>
        {{/if}}
        {{else if k === 'seasonPackges'}}
          {{if p.length === 0}}
          {{else}}
            <li class="meal">
              <ul class="season">
                {{each p v i}}
                  <li class="meal-item border" data-size="{{v.pkgSize | packageSize}}" data-price="{{v.pkgPrice}}" data-validity="{{v.pkgCode | validityPeriod}}" data-prod="{{v.pkgId}}">
                    <p class="package-size">{{v.pkgSize | packageSize}}</p>
                    <p class="price">￥{{v.pkgPrice | splitMoney}}</p>
                  </li>
                {{/each}}
              </ul>
            </li>
          {{/if}}
        {{else if k === 'halfPackges'}}
          {{if p.length === 0}}
          {{else}}
            <li class="meal">
              <ul class="half-year">
                {{each p v i}}
                  <li class="meal-item border" data-size="{{v.pkgSize | packageSize}}" data-price="{{v.pkgPrice}}" data-validity="{{v.pkgCode | validityPeriod}}" data-prod="{{v.pkgId}}">
                    <p class="package-size">{{v.pkgSize | packageSize}}</p>
                    <p class="price">￥{{v.pkgPrice | splitMoney}}</p>
                  </li>
                {{/each}}
              </ul>
            </li>
          {{/if}}
        {{else if k === 'fullPackges'}}
          {{if p.length === 0}}
          {{else}}
            <li class="meal">
              <ul class="full-year">
                {{each p v i}}
                  <li class="meal-item border" data-size="{{v.pkgSize | packageSize}}" data-price="{{v.pkgPrice}}" data-validity="{{v.pkgCode | validityPeriod}}" data-prod="{{v.pkgId}}">
                    <p class="package-size">{{v.pkgSize | packageSize}}</p>
                    <p class="price">￥{{v.pkgPrice | splitMoney}}</p>
                  </li>
                {{/each}}
              </ul>
            </li>
          {{/if}}
      {{/if}}
  {{/each}}
  </script>
  @@include('script.html')
  <script src="../static/js/pay.js"></script>
  <script src="../static/js/template-web.js"></script>
  <script src="../static/js/rechargeImmediately.js"></script>
</body>

</html>
